<div class="search-filter">
  <div class="search-container">
    <FaIcon @icon="search" class="search-icon" />
    <input 
      type="text" 
      placeholder="Search for a country..."
      aria-label="Search for a country..."
      class="search-input"
      {{on "keyup" this.updateFilterText}} />
  </div>
  <SelectRegion @filter={{this.filterByRegion}} />
</div>

{{#if this.countries}}
  <div class="countries-list">
    {{#each this.countries as |country|}}
      <CountryCard @country={{country}} />
    {{/each}}
  </div>
{{else}}
  <p class="no-country-info"><FaIcon @icon="info-circle" class="no-country-icon" /> No country was found on the planet Earth that matches your search criteria!</p>
{{/if}}
{{outlet}}